footer{
	display: flex;
	justify-content: center;
	background: rgba(54, 23, 5, 0.952);
background: linear-gradient(0deg, rgb(231, 94, 2) 0%, rgb(219, 125, 18) 60%, rgba(0,0,0,1) 100%);
	padding: 45px 35px;
	flex-wrap: wrap;
	margin-top: 50px;
}

footer div{
	flex-grow: 1;
	min-width: 400px;
}
.footer-info{
	display: flex;
	justify-content: space-between;
	margin: 5px 0;
}

.footer-info img{
	height: 30px;
	margin-right: 25px;
}

.footer-info div{
	font-size: 12px;

}

.footer-info b{
	font-size: 14px;
	font-weight: normal;
}

.footer-social-media div{
	margin-bottom: 10px;
}

.footer-logo img{
	height: 200px;
	transform: translateY(-60px);
}

@media only screen and (max-width: 600px) {

	footer{
		display: block;
		overflow: hidden;

	}

	footer div{
		margin: 10px 0;
	}

	.footer-logo img{
		width: 80%;
		height: inherit;
	}

	.footer-social-media{
		display: none;
	}
	.footer-info{
		display: none;
	}

}