.menu{
	background-color: black;
}

.menu-img{
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 10px;
}

.menu-img-box{
	border: 2px solid white;
	padding: 15px;
	border-radius: 50%;
	transition: 0.5s;
}

.menu-img-box:hover{
	background-color: red;
	border: 2px solid red;
	box-shadow: 0px 0px 10px 5px rgba(255,0,0,0.75);
-webkit-box-shadow: 0px 0px 10px 5px rgba(255,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 5px rgba(255,0,0,0.75);
}



.menu-title{

	font-family: 'Public Sans', sans-serif;
	
	padding-bottom: 10px;
	color: white;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
}

.menu-cont{
	color: white;
	margin: 10px 50px;
	
	border-radius: 20px;
	padding: 25px;
	
}

.menu-category{
	
	padding: 10px;
	margin: 10px;
	transition: 1s;
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	
}

.off{
	display: none;

}

.menu-category-title{

	text-align: center;
	font-family: 'Public Sans', sans-serif;
	font-weight: bold;
	font-size: 30px;
	padding: 20px 0;


}

.menu-bttn{
	display: flex;
	justify-content: center;
	margin: 10px 50px;
	flex-wrap: wrap;
}


.menu-button-off{
	background-color: black;
	color: white;
	font-family: 'Public Sans', sans-serif;
	margin: 5px 10px;
	padding: 5px 10px;
	border: 1px solid white;
	border-radius: 15px;
	cursor: pointer;
	transition: 0.5s;
}

.menu-bttn-active{
	
	color: white;
	font-family: 'Public Sans', sans-serif;
	margin: 5px 10px;
	padding: 5px 10px;
	
	border-radius: 15px;
	cursor: pointer;
	transition: 0.5s;

	background-color: red;
	border: 1px solid red;
	box-shadow: 0px 0px 10px 5px rgba(255,0,0,0.75);
-webkit-box-shadow: 0px 0px 10px 5px rgba(255,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 5px rgba(255,0,0,0.75);
}

.menu-bttn button:hover{
	background-color: red;
	border: 1px solid red;
	box-shadow: 0px 0px 10px 5px rgba(255,0,0,0.75);
-webkit-box-shadow: 0px 0px 10px 5px rgba(255,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 5px rgba(255,0,0,0.75);
}


@media only screen and (max-width: 600px) {

	.menu-bttn button{
		flex-grow: 1;
	}

}

.menu-category

.menu-products{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.menu-product-price{
	flex-grow: 1;
	text-align: right;
	padding: 0 15px;
	font-size: 18px;
	color: red;
	font-weight: bold;
	text-decoration: underline ;
}

.menu-product-title{
	font-size: 22px;
	font-family: 'Public Sans', sans-serif;
	font-weight: bold;
}

.menu-product-desc{
	color: gray;
	text-align: justify;
}

.menu-product{
	display: flex;
	justify-content: center;

	margin: 5px 10px;
	flex-wrap: wrap;
	max-width: 550px;
	min-width: 400px;
}

@media only screen and (max-width: 600px) {
	.menu-cont{
		margin: 10px;
		padding: 10px;
	}

	.menu-products{
		display: flex;
		flex-wrap: wrap;
	}

	.menu-product{
		display: flex;
		min-width: 100px;
		padding: 0;
		margin-bottom: 25px;
	}	

	.menu-product div{
		text-align: center;
	}

	.menu-product-price{

	}
	

}


/* ----------------------------------------------
 * Generated by Animista on 2023-3-4 18:15:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
