*{
    background-color: black;
}

.tabla-container {
    padding: 200px;
    font-family: 'Montserrat Alternates', sans-serif;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .tabla {
    font-family: 'Montserrat Alternates', sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
  }
  
  .tabla th, .tabla td {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: left;
    padding: 8px;
  }
  
  .tabla th {
    background-color: #ddddddb4;
  }
  
  .tabla tr:nth-child(even) {
    background-color: #f2f2f2b4;
  }
  
  .info {
      font-family: 'Montserrat Alternates', sans-serif;
      display: inline-block;
      padding: 8px 16px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;}
  
      .info {
          background-color: #3e8e41;
        }
  
  .insert{
    font-family: 'Montserrat Alternates', sans-serif;
  
      display: inline-block;
      padding: 8px 16px;
      background-color: #0a20e7;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }
  .insert:hover{
    background-color: #000286;

  }
  .danger {
      font-family: 'Montserrat Alternates', sans-serif;
  
      display: inline-block;
      padding: 8px 16px;
      background-color: #c00000;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }
    
  .danger:hover {
      background-color: #860000;
    }
  
    #feedback-form {
      width: 280px;
      margin: 0 auto;
      background-color: #fcfcfc;
      padding: 20px 50px 40px;
      box-shadow: 1px 4px 10px 1px #aaa;
      font-family: sans-serif;
    }
    
    #feedback-form * {
        box-sizing: border-box;
    }
    
    #feedback-form h2{
      text-align: center;
      margin-bottom: 30px;
    }
    
    #feedback-form input {
      margin-bottom: 15px;
    }
    
    #feedback-form input[type=text] {
      display: block;
      height: 32px;
      padding: 6px 16px;
      width: 100%;
      border: none;
      background-color: #f3f3f3;
    }
    
    #feedback-form label {
      color: #777;
      font-size: 0.8em;
    }
    
    #feedback-form input[type=checkbox] {
      float: left;
    }
    
    #feedback-form input:not(:checked) + #feedback-phone {
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    
    #feedback-form #feedback-phone {
      transition: .3s;
    }
    
    #feedback-form button[type=submit] {
      display: block;
      margin: 20px auto 0;
      width: 150px;
      height: 40px;
      border-radius: 25px;
      border: none;
      color: #eee;
      font-weight: 700;
      box-shadow: 1px 4px 10px 1px #aaa;
      
      background: #207cca; /* Old browsers */
      background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
    }
